* {
	margin: 0;
	color: black;
}
body{   	min-height: 100vh;
	width: 100%;
background-image: url(drew-beamer-kUHfMW8awpE-unsplash.jpg);
	background-position: left;
	background-size: cover;
	position: relative;
		font-size: 11;
		font-family: "Garamond";
		color: black;
}
.name{
	
	padding: 12px 34px;
	background: transparent;
	position: relative;

	border-style: inset;
text-align: center;
	margin-bottom: 10px;
	font-size: 15px;
	
}
.button{
	display: inline-block;
	text-decoration: none;
	color: solid purple;
	border: 2px solid purple  ;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	border-style: inset;
text-align: center;
left: 45%;
	bottom: 10%;
	margin-bottom: 10px;
	font-size: 15px;
	color: black;
}
.button:hover{
	border: 2px black;
	border-style: outset;
	background: transparent;
	color: purple;
	transition: 0.5s;
}
#sub{
	list-style-type: circle;
}
img{
	width: 20px;
	height: 20px;
}